.register{
            background: url('/public/aks.jpg') no-repeat center center/cover;
            color: white;
            height: 600px; 
}
.register-page {
            height: 600px;
            width: 360px;
            border: 1px solid black;
            align-items: center;
            margin: auto;
            padding: 20px;
            background-color: rgba(0,0, 0, 0.5);    
            box-shadow: inset; 
                  
}